.layout {

    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;

}

.bg--1 {

    background-image: url(/public/assets/img/space/bg-space-1.jpg);

}

.bg--2 {

    background-image: url(/public/assets/img/space/bg-space-2.jpg);

}

.bg--3 {

    background-image: url(/public/assets/img/space/bg-space-3.jpg);

}

.bg--4 {

    background-image: url(/public/assets/img/space/bg-space-4.jpg);

}