@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@0;1&family=Megrim&display=swap');

:root {

    --color-white: #fff;
    --color-black: #000;
    --color-blue: #040350;
    --main-font: 'Megrim', cursive;
    --secondary-font: 'Be Vietnam Pro', sans-serif;

}